/* static/welcome.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("olympics.jpg"); /* Replace with your welcome page background image */
    background-size: cover;
    background-position: right center;  /* Update this line to position the image to the right */
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
}

a:hover {
    color: red;
}
